<div class="flex flex-auto justify-center w-full max-w-5xl mx-auto p-6 sm:p-8">
    <div class="hidden lg:flex flex-col items-start mr-8">
        <fuse-card class="flex flex-col max-w-80 w-full p-8">
            <div class="text-2xl font-semibold leading-tight">A propos de moi</div>

            <hr class="w-full border-t my-6">
            <div class="flex flex-col">
                <div class="flex items-center">
                    <mat-icon class="icon-size-5 mr-3" svgIcon="mat_outline:email"></mat-icon>
                    <span class="leading-none">{{ user.email }}</span>
                </div>
                <div class="flex items-center mt-4">
                    <mat-icon class="icon-size-5 mr-3" svgIcon="mat_outline:local_phone"></mat-icon>
                    <span class="leading-none">{{ user.contact }}</span>
                </div>
                <div class="flex items-center mt-4">
                    <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:cake'"></mat-icon>
                    <span class="leading-none">{{ user.dateNaissance | date }}</span>
                </div>
            </div>
        </fuse-card>
    </div>

    <div class="flex flex-col items-start">
        <fuse-card *ngFor="let service of services" class="flex flex-col max-w-140 min-w-120 w-full mb-8">
            <div class="flex items-center mx-6 sm:mx-8 mt-6 mb-1">
                <mat-icon class="w-10 h-10 rounded-full mr-4" svgIcon="heroicons_solid:user-circle"></mat-icon>
                <div class="flex flex-col">
                    <span class="font-semibold leading-none">Administrateur</span>
                </div>
            </div>

            <div class="m-6 sm:mx-8">
                <div class="mb-2 flex items-start ">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">{{ service.nom }}</div>
                    <div class="ml-2">
                        <button class="h-6 min-h-6 px-2 rounded-full bg-hover" mat-button>
                            <span class="font-medium text-sm text-secondary">{{ service.duree }} heures</span>
                        </button>
                    </div>
                </div>

                <div class="mt-2 text-lg font-medium tracking-tight">
                    prix : {{ service.prix }} <span class="text-secondary font-medium text-xl">Ar</span>
                </div>

                <!--<hr class="border-b my-6">-->

                <div class="flex flex-col sm:flex-row sm:items-center mt-4">
                    <div class="flex items-center">
                        <ng-container *ngFor="let employee of service.employe">
                            <mat-icon class="w-6 h-6 m-0.5 rounded-full text-card ring-2 ring-white"
                                matTooltip="{{ employee.nom }} - {{ employee.contact}}"
                                svgIcon="heroicons_outline:user-circle"></mat-icon>
                        </ng-container>

                        <div class="text-md tracking-tight ml-3 text-secondary">{{ service?.employe.length }} employés
                        </div>
                    </div>
                    <div class="hidden sm:flex flex-auto"></div>
                    <div class="flex items-center sm:mt-0">
                        <button disabled="{{ service.employe.length === 0 }}" (click)="reserve(service)"
                            mat-stroked-button>
                            <span class="px-2 ">
                                Résérver
                            </span>
                            <mat-icon svgIcon="mat_outline:shopping_cart"></mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </fuse-card>
        <mat-spinner *ngIf="isLoading" class=" w-[32px] h-[32px]"></mat-spinner>

    </div>
</div>