<!-- <div class="relative flex flex-col flex-auto -m-6">
    <div class="">
        <span class="text-gray-400 text-3xl inline-block mx-5 mt-5">Ajout service</span>

        <ng-container *ngIf="image && !toggle">
            <div class="relative w-full mt-2">
                <div class="absolute right-0 bottom-0 p-4">
                    <button mat-icon-button>
                        <mat-icon class="text-white" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                    </button>
                </div>
                <img class="w-full object-cover" [src]="image">
            </div>
        </ng-container>

        <form [formGroup]="serviceForm">
            <div *ngIf="!toggle" class="grid grid-cols-2 m-5 gap-4">
                <mat-form-field class="w-full">
                    <mat-label>Nom du service</mat-label>
                    <input minlength="4" id="name" matInput formControlName="name">
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Prix (Ar)</mat-label>
                    <input id="price" matInput formControlName="price">
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Durée (heures)</mat-label>
                    <input id="duration" matInput formControlName="duration">
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Commission (%)</mat-label>
                    <input id="commission" matInput formControlName="commission">
                </mat-form-field>
            </div>

            <div *ngIf="toggle" cdkDropListGroup class="mt-5 mx-4 grid grid-cols-2 gap-4">
                <div class="border border-gray-300 rounded-md px-4 py-4 h-80 max-h-80 overflow-auto">
                    <h2 class="text-secondary text-lg text-center mb-4">Employé Disponibles</h2>
                    <div #todoList="cdkDropList" (cdkDropListDropped)="drop($event, availableEmployee)"
                        [cdkDropListData]="availableEmployee" cdkDropList class="example-list min-h-50">
                        <div *ngFor="let employee of availableEmployee" cdkDrag class="bg-[#e2e8f0] cursor-move
                        rounded-2xl text-center font-medium text-gray-600 example-box px-2 py-2 mt-2">
                            {{ employee.nom }}
                        </div>
                    </div>
                </div>

                <div class="border border-gray-300 rounded-md px-4 py-4 h-80 max-h-80 overflow-auto">
                    <h2 class="text-secondary text-lg text-center mb-4">Employé Sélectionnés</h2>
                    <div #doneList="cdkDropList" (cdkDropListDropped)="drop($event, selectedEmployee)"
                        [cdkDropListData]="selectedEmployee" cdkDropList class="example-list min-h-50">
                        <div *ngFor="let employee of selectedEmployee" cdkDrag class="bg-primary cursor-move
                         rounded-2xl text-center font-medium text-white example-box px-2 py-2 mt-2">
                            {{ employee.nom }}
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="flex items-center justify-between m-4">
            <div class="flex items-center space-x-2">
                <div>
                    <input id="image-file-input" class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                        type="file" [multiple]="false" [accept]="'image/jpeg, image/png'"
                        (change)="uploadImage(imageFileInput.files)" #imageFileInput>
                    <label
                        class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-gray-400 hover:bg-opacity-20 dark:hover:bg-black dark:hover:bg-opacity-5"
                        for="image-file-input" matRipple>
                        <mat-icon svgIcon="mat_outline:photo_size_select_actual"></mat-icon>
                    </label>
                </div>

                <button mat-icon-button (click)="toggleButton()">
                    <mat-icon svgIcon="mat_outline:assignment_ind"></mat-icon>
                </button>

                <button mat-icon-button>
                    <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                </button>
            </div>
            <div class="flex items-center justify-center">
                <button class="col-start-2 fuse-mat-button-large" mat-flat-button
                    [disabled]="serviceForm.invalid" [color]="'primary'" (click)="save()">
                    <span *ngIf="!isLoading">
                        Enregistrer
                    </span>
                    <mat-progress-spinner *ngIf="isLoading" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>
            </div>
        </div>
    </div>
</div> -->

<div class="relative flex flex-col flex-auto -m-6">
    <div class="">
        <span class="text-gray-400 text-3xl inline-block mx-5 mt-5" *ngIf="!id">Ajout service</span>
        <span class="text-gray-400 text-3xl inline-block mx-5 mt-5" *ngIf="id">Modifier service</span>
        <!-- image -->
        <ng-container *ngIf="image && !toggle">
            <div class="relative w-full mt-2">
                <div class="absolute right-0 bottom-0 p-4">
                    <button mat-icon-button>
                        <mat-icon class="text-white" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                    </button>
                </div>
                <img class="w-full object-cover" [src]="image">
            </div>
        </ng-container>

        <form [formGroup]="serviceForm">
            <div *ngIf="!toggle" class="grid grid-cols-2 m-5 gap-4">
                <mat-form-field class="w-full">
                    <mat-label>Nom du service</mat-label>
                    <input minlength="4" id="name" matInput formControlName="name">
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Prix (Ar)</mat-label>
                    <input id="price" matInput formControlName="price">
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Durée (heures)</mat-label>
                    <input id="duration" matInput formControlName="duration">
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Commission (%)</mat-label>
                    <input id="commission" matInput formControlName="commission">
                </mat-form-field>
            </div>
            <!-- drag and drop -->
            <div *ngIf="toggle" cdkDropListGroup class="mt-5 mx-4 grid grid-cols-2 gap-4">
                <div class="border border-gray-300 rounded-md px-4 py-4 h-80 max-h-80 overflow-auto">
                    <h2 class="text-secondary text-lg text-center mb-4">Employé Disponibles</h2>
                    <div #todoList="cdkDropList" (cdkDropListDropped)="drop($event, availableEmployee)"
                        [cdkDropListData]="availableEmployee" cdkDropList class="example-list min-h-50">
                        <div *ngFor="let employee of availableEmployee" cdkDrag class="bg-[#e2e8f0] cursor-move
                        rounded-2xl text-center font-medium text-gray-600 example-box px-2 py-2 mt-2">
                            {{ employee.nom }}
                        </div>
                    </div>
                </div>

                <div class="border border-gray-300 rounded-md px-4 py-4 h-80 max-h-80 overflow-auto">
                    <h2 class="text-secondary text-lg text-center mb-4">Employé Sélectionnés</h2>
                    <div #doneList="cdkDropList" (cdkDropListDropped)="drop($event, selectedEmployee)"
                        [cdkDropListData]="selectedEmployee" cdkDropList class="example-list min-h-50">
                        <div *ngFor="let employee of selectedEmployee" cdkDrag class="bg-primary cursor-move
                         rounded-2xl text-center font-medium text-white example-box px-2 py-2 mt-2">
                            {{ employee.nom }}
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="flex items-center justify-between m-4">
            <div class="flex items-center space-x-2">
                <div>
                    <input id="image-file-input" class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                        type="file" [multiple]="false" [accept]="'image/jpeg, image/png'"
                        (change)="uploadImage(imageFileInput.files)" #imageFileInput>
                    <label
                        class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-gray-400 hover:bg-opacity-20 dark:hover:bg-black dark:hover:bg-opacity-5"
                        for="image-file-input" matRipple>
                        <mat-icon svgIcon="mat_outline:photo_size_select_actual"></mat-icon>
                    </label>
                </div>

                <button *ngIf="!id" mat-icon-button (click)="toggleButton()">
                    <mat-icon svgIcon="mat_outline:assignment_ind"></mat-icon>
                </button>

                <button (click)="deleteService()" mat-icon-button>
                    <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                </button>
            </div>
            <div class="flex items-center justify-center">
                <button class="col-start-2 fuse-mat-button-large" mat-flat-button *ngIf="!id"
                    [disabled]="serviceForm.invalid" [color]="'primary'" (click)="save()">
                    <span *ngIf="!isLoading">
                        Enregistrer
                    </span>
                    <mat-progress-spinner *ngIf="isLoading" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>
                <button class="col-start-2 fuse-mat-button-large" mat-flat-button *ngIf="id"
                        [disabled]="serviceForm.invalid" [color]="'primary'" (click)="update()">
                    <span *ngIf="!isLoading">
                        Modifier
                    </span>
                    <mat-progress-spinner *ngIf="isLoading" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>
            </div>
        </div>
    </div>
</div>
